In [1]:
import pandas as pd
import re

df = pd.read_csv("data-kai.csv", encoding="SHIFT_JIS")

sumd = {}

for row in df.iterrows():
    ymd = row[1]["年月日"]
    kousui = row[1]["降水量の合計"]
    md = re.sub(r'\d{4}\/', '', ymd)
    if not (md in sumd):
        sumd[md] = 0
    sumd[md] += kousui
result = sorted(sumd.items(), key=lambda n: n[1])

top20 = result[0:20]
pd.DataFrame(top20, columns=['日付', '降水量'])

      日付  降水量
0    1/1  0.0
1    1/2  0.0
2    1/3  0.0
3    1/4  0.0
4    1/5  0.0
5    1/6  0.0
6    1/7  0.0
7   1/10  0.0
8   1/11  0.0
9   1/13  0.0
10  1/16  0.0
11  1/24  0.0
12  1/25  0.0
13  1/28  0.0
14   2/2  0.0
15  2/17  0.0
16  2/19  0.0
17  2/21  0.0
18  2/22  0.0
19  3/11  0.0

In [3]:
import pandas as pd
import re

df = pd.read_csv("cities-data.csv", encoding="SHIFT_JIS")

sumd = {}

for row in df.iterrows():
    ymd = row[1]["年月日"]
    md = re.sub(r'\d+/', '', ymd)
    if not (md in sumd):
        sumd[md] = [0, 0, 0, 0]
    for i in range(1,5):
        sumd[md][i -1] += row[1][i]
        
df = pd.DataFrame.from_dict(sumd).T
df.columns = ("横浜", "箱根", "木更津", "御殿場")

df.sort_values(by="木更津", ascending=True)[0:10]

AttributeError: 'DataFrame' object has no attribute 'find'